@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50px;
}

body {
  font-size: 16px;
  color: #333;
  font-family: 'PingFang-SC-Heavy';
}
img{
  vertical-align: top;
}

li{
  list-style: none;
}